/* FOOTER */
footer {
    height: 150px;
    background-color: var(--cor3);
    font-family: var(--font1);
    color: #fff;
    font-size: 20px;
}

footer .footer_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

footer .footer_container a {
    margin: 0 10px;
}
